.chatView {
  flex: 6;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  background-image: url('../assets/cruz.png');
  
}

.messagesContainer {
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 30px;
}
